<template>
  <div class="blog-post">
    <prismic-rich-text :field="blogentries.data.title" />
    <prismic-rich-text :field="blogentries.data.summary" />
    <prismic-rich-text class="content-text" :field="blogentries.data.content" />

        <ShareNetwork
          network="facebook"
          :url="`${(shareUrl)}`"
          title="Say hi to Vite! A brand new, extremely fast development setup for Vue."
          description="kad akdklas dasd"
          quote="The hot reload is so fast it\'s near instant. - Evan You"
          hashtags="vuejs,vite"
        >

          <v-btn outlined raised tile fab small class="btnBlog">
            <v-icon>mdi-facebook</v-icon>
          </v-btn>

        </ShareNetwork>

    <ShareNetwork
      network="telegram"
      :url="`${(shareUrl)}`"
      title="Say hi to Vite! A brand new, extremely fast development setup for Vue."
      description="kad akdklas dasd"
    >

      <v-btn outlined raised tile fab small class="btnBlog">
        <v-icon>mdi-telegram</v-icon>
      </v-btn>

    </ShareNetwork>

    <ShareNetwork
      network="whatsapp"
      :url="`${(shareUrl)}`"
      title="Say hi to Vite! A brand new, extremely fast development setup for Vue."
      description="kad akdklas dasd"
    >

      <v-btn outlined raised tile fab small class="btnBlog">
        <v-icon>mdi-whatsapp</v-icon>
      </v-btn>

    </ShareNetwork>

<!--    todo FB Messenger einbauen-->
<!--    <v-btn target="_blank" outlined raised tile fab small class="btnBlog"-->
<!--           href="https://www.facebook.com/dialog/send?app_id=1904103319867886&display=popup&link=https%3A%2F%2Fzukunft-sichern.info%2Fblog%2F%23wenigercorona%3Fpk_campaign%3Ddez%26amp%3Bpk_kwd%3Dblogshare&redirect_uri=https%3A%2F%2Fzukunft-sichern.info%2Fblog%2F%23wenigercorona%3Fpk_campaign%3Ddez%26amp%3Bpk_kwd%3Dblogshare">-->
<!--      <v-icon>mdi-facebook-messenger</v-icon>-->
<!--    </v-btn>-->


    <snackbar v-model="snackbar" text="Link wurde erfolgreich in die Zwischenablage kopiert."
              @input="snackbar = false" />

    <v-btn outlined raised tile fab small class="btnBlog" @click="doCopy()">
      <v-icon>mdi-link-variant</v-icon>
    </v-btn>
  </div>
</template>

<script>
import LinkResolver from "~/plugins/link-resolver.js";
import Snackbar from "./Snackbar";

export default {
  name: "blog-widget",
  components: { Snackbar },
  props: ["blogentries"],
  data: function() {
    return {
      link: "",
      snackbar: false,
    };
  },
  methods: {

    doCopy: function() {
      let _this = this;
      this.$copyText(this.shareUrl).then(function(e) {
        _this.snackbar = true;
      }, function(e) {
        console.log("Kopieren fehlgeschlagen");
      });
    },
  },
  created() {
    this.link = LinkResolver(this.blogentries);
  },
  mounted() {
    try {
      let id = this.$route.query.id;
      let position = document.getElementById(id).offsetTop-56;
      window.scrollTo({ top: position, left: 0, behavior: "smooth" });
    } catch (e) {
      //If no id is passed
    }
  },
  computed:{
    shareUrl (){
      return `http://localhost:3000/blog?id=${this.blogentries.id}`
    }
  },
};
</script>

<style lang="scss" scoped>
.blog-post {
  color: #353535;
}

.btnBlog {
  padding: 0;
  margin: 0;
  color: var(--v-primaryColor-base);
}

</style>
