<template>
  <div>
    <v-carousel height="600" :show-arrows="$vuetify.breakpoint.xsOnly ? true : false"
                :hide-delimiters="$vuetify.breakpoint.xsOnly ? true : false" hide-delimiter-background cycle interval="12500" class="carousel mb-10">

      <span v-if="blogentry">
      <v-carousel-item active-class="slide-image" @mousemove="move_img" :src="slide3"
                       gradient="to top right, rgba(117,117,117,.10), rgba(117,117,117, .10)">
        <div class="carousel-content blog-wrapper">
          <prismic-rich-text :field="blogentry.data.title"/>
          <prismic-rich-text :field="blogentry.data.summary"/>
          <v-btn tile color="var(--v-primaryColor-base)" to="/blog" class='btn_blog'>
            Weiterlesen
          </v-btn>
        </div>
      </v-carousel-item>
      <v-carousel-item active-class="slide-image" @mousemove="move_img"
                       gradient="to top right, rgba(117,117,117,.10), rgba(117,117,117, .10)" :src="slide2">
        <div class="carousel-content bauer-wrapper">
          <h2>Zukunft sichern betrifft uns alle</h2>
          <h3>Gerade als Landwirt merke ich die unumkehrbaren Folgen des Klimawandels tagtäglich. Wollen wir in der Zukunft auch weiterhin in unserem Wohlstand leben,
            dürfen wir auch die Folgen des Klimawandels für unsere Böden nicht vernachlässigen. Ich engagiere mich für eine bewusste und zukunftsorientierte Landwirtschaft.
            </h3><p>-Landwirt Frank M.</p>
        </div>
      </v-carousel-item>

      <v-carousel-item active-class="slide-image" @mousemove="move_img"
                       gradient="to top right, rgba(117,117,117,.10), rgba(117,117,117, .10)" :src="slide1">
        <div class="carousel-content counter-wrapper">
          <h2>Helfen Sie die Wälder unserer Erde zu erhalten, für eine grüne Zukunft.</h2>
          <h3 style="display: inline">Aufforstung der Wälder in Hektar pro Monat: </h3>
            <span class="counter-plant">
              <ICountUp
                :delay="delay"
                :endVal="valPlant"
                :options="options"
              />
          </span>
          <div>
            <h3 style="display: inline">Abholzung der Wälder in Hektar pro Monat: </h3>
            <span class="counter-chop">
              <ICountUp
                :delay="delay"
                :endVal="valChop"
                :options="options"
              />
            </span>
          </div>
              <h3 style="margin-top: 5px">Wenn wir nicht schnell handeln, verlieren wir unsere Wälder für immer.</h3>
           <v-btn tile color="var(--v-primaryColor-base)" target="_blank" href="http://www.fao.org/forest-resources-assessment/2020/en/" class='btn_blog'>
            Weitere Infos
          </v-btn>
        </div>

      </v-carousel-item>
      </span>
    </v-carousel>
  </div>
</template>
<script>
  import ICountUp from "vue-countup-v2";

  export default {
    name: "Carousel",
    components: {
      ICountUp,
    },
    data() {
      return {
        delay: 1200,
        valChop: 833,
        valPlant: 416,
        options: {
          useEasing: true,
          useGrouping: true,
          separator: ".",
          decimal: ".",
          prefix: "",
          suffix: "",
          duration:12,
        },
        blogentry: undefined,
        slide1: require("../assets/img/slide1.webp"),
        slide2: require("../assets/img/slide2.webp"),
        slide3: require("../assets/img/slide3.webp"),
      };
    },
    async created() {
      const blogentries = await this.$prismic.api.query(
        this.$prismic.predicates.at("document.type", "blogentries"),
        { orderings: "[my.post.date desc]" },
      );
      this.blogentry = blogentries.results[0];
    },
    methods: {
      move_img(e) {
        let zoomer = e.currentTarget;
        let x = (e.x / zoomer.offsetWidth) * 30;
        let y = (e.y / zoomer.offsetHeight) * 30;
        let img = document.querySelector(".slide-image .v-image__image");
        if (img) {
          img.style.transform = `translate(${x}px ,${y}px) scale(1.2)`;
        }
      },
    },
  };

</script>
<style lang="scss" scoped>

  .carousel {
    clip-path: polygon(0 96%, 0 0, 100% 0, 100% 96%, 79% 99%, 60% 100%, 35% 100%, 15% 98%);
  }

  .carousel-content {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.93);
    margin-top: 55px;
    margin-left: 200px;
    padding: 40px;
  }

  ::v-deep .v-image__image {
    transform: scale(1.2);
  }

  .bauer-wrapper {
    ::v-deep h2 {
      color: var(--v-primaryColor-base);
      font-family: Dosis, sans-serif;
      font-weight: 600;
      font-style: normal;
      margin-bottom: 1rem;
      line-height: 1.5;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
    }

    ::v-deep h3 {
      font-size: 19px;
      color: rgba(76, 104, 102, 0.85);
      line-height: 1.4;
      text-align: left;
      font-family: sans-serif, serif;
      font-weight: 300;
      margin-bottom: 2px;
    }

    ::v-deep p {
      color: rgba(76, 104, 102, 0.85);
      font-style: italic;
    }

  }

  .counter-wrapper {
    ::v-deep h2 {
      color: var(--v-primaryColor-base);
      font-family: Dosis, sans-serif;
      font-weight: 600;
      font-style: normal;
      margin-bottom: 1rem;
      line-height: 1.5;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
    }

    ::v-deep h3 {
      font-size: 19px;
      color: rgba(76, 104, 102, 0.85);
      line-height: 1.4;
      text-align: left;
      font-family: sans-serif, serif;
      font-weight: 300;
    }
  }

  .blog-wrapper {
    width: 30%;

    ::v-deep h1 {
      color: var(--v-primaryColor-base);
      font-size: 28px;
    }

    ::v-deep h3 {
      font-size: 19px;
      color: rgba(76, 104, 102, 0.85);
      line-height: 1.4;
      text-align: left;
      font-family: sans-serif, serif;
      font-weight: 300;
    }
  }

  @media (max-width: 959px) {

    .carousel {
      clip-path: none !important;
    }

    ::v-deep .v-image__image {
      transform: scale(1) !important;
    }

    .counter-chop {
      color: #d45b5b;
      font: 500 20px system-ui;
    }
    .counter-plant {
      color: #d45b5b;
      font: 500 20px system-ui;
    }

    .blog-wrapper {
      width: unset;
    }
    .carousel-content {
      padding: 20px;

      ::v-deep h1 {
        font-size: 21px;
      }

      ::v-deep h2 {
        font-size: 21px;
      }

      ::v-deep h3 {
        font-size: 16px;
      }

      max-width: 70%;
      margin: auto;
      margin-top: 10%;
    }
  }

  @media (min-width: 960px) {
    .carousel-content {
      max-width: 40%;
    }
  }

  .v-image__image--cover {
    padding-top: 20px;
    background-position: center bottom !important;
  }

  .counter-chop {
    color: #d45b5b;
    font: 500 24px system-ui;
  }

  .v-btn:not(.v-btn--round).v-size--default {
    padding: 28px;
  }

  .btn_blog {
    &:hover {
      box-shadow: 0px 15px 20px rgba(24, 99, 104, 0.5);
    }
  }

.counter{
  min-width:32px;
}

  .counter-plant {
    color: #89d45b;
    font: 500 24px system-ui;
  }

</style>
