<template>
  <div>

    <dialog-with-close-button v-model="value" max-width="450" persistent>
      <template slot="card-title">
        Diese Webseite verwendet Cookies
      </template>
      <template slot="card-text">
        Diese Seite verwendet Cookies, Matomo, Iridion und das Facebook-Pixel für die Analyse und Statistik. Mit einem
        Klick auf „Einverstanden" stimmen Sie der Verwendung von Cookies zu. Mehr Informationen dazu finden Sie in
        unserer
        <nuxt-link to="/datenschutz" style="color: unset">Datenschutzerklärung.</nuxt-link>
        Dort können Sie Ihre Einwilligung auch verweigern oder widerrufen.
      </template>
      <template slot="card-actions">
        <v-btn
          :small="$vuetify.breakpoint.smAndDown"
          dark
          color="var(--v-primaryColor-base)"
          tile
          @click="closeCookieNotification"
          class="ml-2">
          Einverstanden
        </v-btn>
        <v-btn
          :small="$vuetify.breakpoint.smAndDown"
          color="rgb(153, 153, 153)"
          text
          tile
          @click="openDataProtection"
          class="text-decoration-underline">
          Datenschutzerklärung
        </v-btn>
      </template>
    </dialog-with-close-button>

    <dialog-with-close-button v-model="dataProtectionDialog" style="height: 80vh"  closeButton>
      <datenschutz :class="$vuetify.breakpoint.smAndDown ? '' : 'ma-12'"/>
    </dialog-with-close-button>

  </div>
</template>

<script>
  import Datenschutz from "../pages/Datenschutz";
  import DialogWithCloseButton from "./Dialog";

  export default {
    name: "CookieNotification",
    components: { DialogWithCloseButton, Datenschutz },
    data() {
      return {
        value: true,
        dataProtectionDialog: false,
      };
    },
    methods: {
      closeCookieNotification() {
        this.value = false;
        if(process.browser) {
          localStorage.setItem("cookieNotification", this.value);
        }
      },
      openDataProtection() {
        this.dataProtectionDialog = true;
      },
    },
    mounted() {
      const val = localStorage.getItem("cookieNotification");

      if (val != null) {
        this.value = (val === "true");
      } else {
        this.value = true;
      }
    },
  };
</script>

<style lang="scss" scoped>


</style>
