<template>
  <v-dialog
    v-model="model"
    :max-width="maxWidth ? maxWidth : 'none'"
    scrollable
    :persistent="persistent"
    content-class="dialog">
    <v-card tile height="100%">
      <v-btn
        v-if="closeButton"
        icon
        @click="model=false"
        class="close-icon-dialog"
      >
        <v-icon color="rgb(69, 71, 69)">mdi-close</v-icon>
      </v-btn>
      <slot></slot>
      <v-card-title class="headline mr-12">
        <slot name="card-title"></slot>
      </v-card-title>
      <v-card-text>
        <slot name="card-text"></slot>
      </v-card-text>
      <v-card-actions :class="actionButtonCenter ? 'centered-action-button pb-3' : 'pb-3'">
        <slot name="card-actions"></slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "dialogWithCloseButton",
  props: {
    value: {
      type: Boolean,
    },
    maxWidth: {
      type: String,
    },
    persistent: {
      type: Boolean,
    },
    closeButton: {
      type: Boolean,
    },
    actionButtonCenter: {
      type: Boolean,
    },
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(newVal) {
        this.$emit("input", newVal);
      },
    },
  },
};
</script>

<style lang="scss">

.dialog {
  position: relative;

  .v-card {
    height: 100%;

    .headline {
      word-break: break-word;

      h1 {
        font-size: 24px !important;
        font-family: Dosis, sans-serif;
      }
    }

    .v-card__text {
      color: rgb(79, 79, 79) !important;
    }

    .close-icon-dialog {
      position: absolute;
      right: 0;
      margin: 15px 15px 10px 10px;
      z-index: 1;
    }

    .centered-action-button {
      display: block;
      text-align: center;
    }
  }
}

</style>
