<template>
  <div>
    <v-expansion-panel class="panel"
    >
      <v-expansion-panel-header>
        <prismic-rich-text :field="faqentries.data.title" />
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <prismic-rich-text :field="faqentries.data.answer" />
      </v-expansion-panel-content>
    </v-expansion-panel>
  </div>
</template>

<script>
import LinkResolver from "~/plugins/link-resolver.js";
export default {
  name: "blog-widget",
  props: ["faqentries"],
  data: function() {
    return {
      link: "",
    };
  },
  methods: {
  },
  created() {
    this.link = LinkResolver(this.faqentries);
  },
};
</script>

<style lang="scss" scoped>
.panel{
  border-bottom: 1px solid #FFFFFF;
  .v-expansion-panel-header{
    background-color:  var(--v-primaryColor-base);

  }
  .v-expansion-panel-content{
    padding-top: 8px;
  }

 ::v-deep .v-icon{
    color:white !important;
  }
  ::v-deep h3{
    color:white;
    margin-top:unset !important;
    margin-bottom: unset !important;
    font-size: 17.5px;
    font-weight: 500;
  }
}

//xs and md breakpoint - mobile
@media (max-width: 959px) {
  ::v-deep h3{
    font-size: 15.5px !important;
  }
}
</style>
