<template>

  <div class="footer">
    <v-row class="ma-0">
      <v-col class="col" cols="11" sm="7" md="5" lg="3">
        <v-avatar height="85" width="248">
          <img loading=lazy src="../assets/img/logoLight.png" alt="Logo Zukunft-Sichern">
        </v-avatar>
        <div class="footer-nav mt-9">
          <p class="footer-nav-title mb-3"> Inhaltsverzeichnis </p>
          <div v-for="footerLink in footerLinks" :key="footerLink.title">
            <v-btn
              :ripple="false"
              class="px-4 font-weight-regular"
              text
              plain>
              <nuxt-link :to="footerLink.path">{{footerLink.title}}</nuxt-link>
            </v-btn>
          </div>
          <div class="donation mt-6">
            <div class="donation-title mb-1">Spendenkonto</div>
            <div class="donation-text"> GLS Bank • IBAN: DE85 4306 0967 1015 9672 00</div>
          </div>
          <div class="copyright mt-9">
            <p>Copyright &copy {{year}} Zukunft-Sichern.info <br/>
              <strong> Gesponsert • Finanziert von Zukunft sichern </strong> <br/>
              Alle Rechte vorbehalten.</p>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    name: "FooterNavigation",
    data() {
      return {
        year: new Date().getFullYear(),
        footerLinks: [
          { title: "Datenschutzerklärung", path: "/datenschutz" },
          { title: "Newsarchiv", path: "/newsarchiv" },
          { title: "Impressum", path: "/impressum" },
          { title: "Über uns", path: "/ueber-uns" },
        ],
      };
    },
  };
</script>

<style lang="scss" scoped>
  .footer {
    background-color: var(--v-primaryColor-base) !important;
    padding: 20px 0;
    text-align: center;

    .col {
      margin: 0 auto;

      .footer-nav-title {
        color: #7bbfc6;
        font-size: 18px;
      }

      .v-avatar {
        border-radius: 0;
      }

      .v-btn {
        ::v-deep .v-btn__content {
          opacity: 1 !important;

          a {
            color: white;
            font-size: 14px;
            font-weight: 300;
            text-transform: capitalize;
            height: 30px;
            display: flex;
            align-items: center;

            &:hover {
              opacity: 0.65;
            }
          }
        }
      }

      .donation {
        .donation-title {
          font-size: 16px;
          color: #7bbfc6;
        }

        .donation-text {
          color: white;
          font-size: 13.5px;
          line-height: 24px;
        }
      }

      .copyright p {
        color: white;
        font-size: 14px;
      }
    }
  }
</style>
