<template>

  <v-app-bar
    class="app-bar"
    id="app-bar"
    :app="$vuetify.breakpoint.mdAndUp"
    content
    :elevate-on-scroll="$vuetify.breakpoint.mdAndUp"
    :height="headerHeight"
    :shrink-on-scroll="$vuetify.breakpoint.mdAndUp">

    <v-toolbar-title>
      <nuxt-link to="/">
        <v-avatar v-if="$vuetify.breakpoint.mdAndUp" height="auto" :class="bigNav ? 'big-logo' : 'small-logo'">
          <img loading=lazy src="../assets/img/logoDark.png" alt="Logo Zukunft-Sichern">
        </v-avatar>
        <v-avatar v-else height="40px" width="auto" class="logo-mobile">
          <img loading=lazy src="../assets/img/logoDarkMobile.png" alt="Logo Zukunft-Sichern">
        </v-avatar>
      </nuxt-link>
    </v-toolbar-title>

    <v-spacer/>

    <v-toolbar-items v-if="$vuetify.breakpoint.mdAndUp">
      <v-btn
        v-for="navigationLink in navigationLinks"
        :key="navigationLink.title"
        :ripple="false"
        class="px-4 font-weight-regular"
        text
        plain>
        <nuxt-link :to=navigationLink.path :exact="navigationLink.exact">{{navigationLink.title}}</nuxt-link>
      </v-btn>
      <v-btn
        plain
        icon
        target="_blank"
        :href="socialMedia[0].href"
        class="mr-4 social-media">
        <v-icon color="var(--v-primaryColor-base)">{{socialMedia[0].icon}}</v-icon>
      </v-btn>
    </v-toolbar-items>

    <div class="cooperation" v-if="$vuetify.breakpoint.mdAndUp">
      <div class="mr-4" style="height: 30px">
        <v-divider vertical style="height: 30px !important;"></v-divider>
      </div>
      <span class="pr-2"> In Kooperation mit </span>
      <a href="https://togetherforfuture.org/" target="_blank">
        <v-avatar height="auto" width="70">
          <img loading=lazy src="../assets/img/logoTFT.png" alt="Logo Together-For-Future">
        </v-avatar>
      </a>
    </div>


    <div v-else class="mobile-navigation-menu">

      <div class="hamburger" @click="menuMobile = !menuMobile" :class="menuMobile ? 'hamburger--is-open' : ''">
        <div class="hamburger__item hamburger__item--first"></div>
        <div class="hamburger__item hamburger__item--middle"></div>
        <div class="hamburger__item hamburger__item--last"></div>
      </div>

      <v-menu
        v-model="menuMobile"
        :absolute="menuMobile"
        attach="#app-bar"
        tile
        content-class="elevation-0"
        :nudge-top="-64"
        min-width="100%">
        <v-card class="elevation-0"
                tile>
          <v-card-text class="mx-1 my-0 py-0">
            <v-list class="py-0" dense>
              <v-list-item class="pa-0" v-for="navigationLink in navigationLinks" :key="navigationLink.title">
                <v-list-item-content class="py-0">
                  <nuxt-link :to=navigationLink.path :exact="navigationLink.exact">{{navigationLink.title}}</nuxt-link>
                </v-list-item-content>
              </v-list-item>
              <v-list-item class="pa-0">
                <v-list-item-content class="py-0">
                  <v-icon color="var(--v-primaryColor-base)" @click="menuMobile=false" target="_blank"
                          :href="socialMedia[0].href" class="social-media">
                    {{socialMedia[0].icon}}
                  </v-icon>
                </v-list-item-content>
              </v-list-item>
              <v-list-item class="last-list-element pa-0">
                <v-list-item-content class="cooperation-mobile my-1">
                  <span class="pb-2"> In Kooperation mit </span>
                  <a href="https://togetherforfuture.org/" target="_blank">
                    <v-avatar height="auto" width="70">
                      <img loading=lazy src="../assets/img/logoTFT.png" alt="Logo Together-For-Future">
                    </v-avatar>
                  </a>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-menu>
    </div>
  </v-app-bar>

</template>

<script>

  export default {
    name: "HeaderNavigation",
    props: {
      headerHeight: {
        type: Number,
      },
    },
    data() {
      return {
        bigNav: true,
        menuMobile: false,
        navigationLinks: [
          { title: "Startseite", path: "/", exact: true },
          { title: "Blog", path: "/blog" },
          { title: "Über Uns", path: "/ueber-uns" },
        ],
        socialMedia: [
          { icon: "mdi-facebook", href: "https://www.facebook.com/zukunftsichern.info" },
        ],
      };
    },
    mounted() {
      this.$nextTick(() => {
        if (this.$vuetify.breakpoint.mdAndUp) {
          window.addEventListener("scroll", this.onScroll);
        }
      });
    },
    beforeDestroy() {
      this.$nextTick(() => {
        if (this.$vuetify.breakpoint.mdAndUp) {
          window.removeEventListener("scroll", this.onScroll);
        }
      });
    },
    methods: {
      onScroll(e) {
        var scroll = e.target.documentElement.scrollTop;
        if (scroll > 0) {
          this.bigNav = false;
        } else {
          this.bigNav = true;
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .app-bar {
    z-index: 100;
    display: flex;
    justify-content: center;
    font-family: Dosis, sans-serif;
    background-color: white !important;
    min-height: 85px;
    box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.1) !important;

    ::v-deep .v-toolbar__content {
      min-width: 78vw;
      min-height: 85px;
      padding: 0 90px;
      align-items: center;

      .v-toolbar__title {
        align-self: center;

        .big-logo {
          width: 230px !important;
          -webkit-transition: all 0.5s ease;
        }

        .small-logo {
          width: 205px !important;
          -webkit-transition: all 0.5s ease;
        }
      }
    }

    .v-toolbar__items {
      min-height: 85px;
      display: flex;
      align-items: center;

      .v-btn {
        height: 30px !important;
        color: var(--v-primaryColor-base);
      }

      .social-media:hover .v-icon {
        color: rgb(69, 71, 69) !important;
      }

      ::v-deep .v-btn__content {
        opacity: 1 !important;

        a {
          text-transform: capitalize;
          letter-spacing: 0px;
          font-size: 18px;
          line-height: 14px;
          font-weight: 100;
          color: var(--v-primaryColor-base);
          height: 30px;
          display: flex;
          align-items: center;
          border-bottom: 2px solid white;

          &:hover,
          &.nuxt-link-active,
          &.nuxt-link-exact-active {
            background: #ffffff;
            border-bottom: 2px solid;
          }
        }
      }
    }

    .cooperation {
      position: absolute;
      right: -175px;
      font-size: 15px;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .v-avatar {
      border-radius: 0 !important;
    }
  }

  @media (max-width: 1700px) {
    .cooperation {
      right: -140px !important;
    }
  }

  @media (max-width: 1400px) {
    .cooperation {
      right: -115px !important;
    }
  }

  @media (max-width: 1120px) {
    .cooperation {
      right: -100px !important;
    }
  }

  //xs and md breakpoint - mobile
  @media (max-width: 959px) {
    .app-bar {
      max-height: 64px !important;
      height: 64px !important;
      min-height: unset !important;

      ::v-deep .v-toolbar__content {
        min-width: 100% !important;
        min-height: 64px !important;
        padding: 20px !important;
      }

      .v-list-item {
        min-height: 44px;

        .v-list-item__content {
          min-height: 25px;

          a {
            color: var(--v-primaryColor-base);
            font-size: 18px;
            font-weight: 300;
          }

          button {
            max-width: 24px;
          }
        }
      }

      .v-list-item:not(.last-list-element) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      }

      .cooperation-mobile {
        text-align: center;
      }
    }


    // hamburger menu
    .hamburger {
      padding: 3px 1px;
      height: 20px;
      width: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }

      &__item {
        height: 2px;
        width: 100%;
        background: var(--v-primaryColor-base);
        transition: transform 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
        opacity 300ms linear;

        &--first {
          .hamburger--is-open & {
            transform: translate(0, 9.5px) rotate(45deg);
          }
        }

        &--middle {
          .hamburger--is-open & {
            opacity: 0;
          }
        }

        &--last {
          width: 80%;

          .hamburger--is-open & {
            width: 100% !important;
            transform: translate(0, -3px) rotate(-45deg);
          }
        }
      }
    }
  }
</style>
