<template>
  <div class="blog-post">
    <v-card
      class="mx-auto card"
      height="100%"
    >
      <v-img
        class="white--text align-end"
        :src="newsentries.image"
        height="190"
       :alt="newsentries.teaser"/>

      <v-card-text>
        <h2>{{ newsentries.h1 }}</h2>
        <p>{{ newsentries.teaser }}</p>
        <p>{{ formatDate(newsentries.date)}} | Quelle: {{ newsentries.creator }}</p>
      </v-card-text>

      <v-card-actions class="card-actions">
        <div class="button-article">
          <v-btn
            class="news-link-btn mr-5"
            :small="$vuetify.breakpoint.smAndDown"
            tile
            text
            target="_blank"
            :href="newsentries.url">
            <span>Zum Artikel</span>
          </v-btn>
        </div>
        <div class="button-share">
          <ShareNetwork
            network="facebook"
            :url="`${(shareUrl)}`"
            :title="newsentries.h1"
            :description="newsentries.teaser"
            hashtags="vuejs,vite"
          >
            <v-btn outlined raised tile fab small class="btnBlog">
              <v-icon>mdi-facebook</v-icon>
            </v-btn>
          </ShareNetwork>

          <ShareNetwork
            network="telegram"
            :url="`${(shareUrl)}`"
            :title="newsentries.h1"
            :description="newsentries.teaser"
          >
            <v-btn outlined raised tile fab small class="btnBlog">
              <v-icon>mdi-telegram</v-icon>
            </v-btn>
          </ShareNetwork>

          <ShareNetwork
            network="whatsapp"
            :url="`${(shareUrl)}`"
            :title="newsentries.h1"
            :description="newsentries.teaser"
          >
            <v-btn outlined raised tile fab small class="btnBlog">
              <v-icon>mdi-whatsapp</v-icon>
            </v-btn>
          </ShareNetwork>
          <v-btn outlined raised tile fab small class="btnBlog" @click="doCopy()">
            <v-icon>mdi-link-variant</v-icon>
          </v-btn>
        </div>
      </v-card-actions>

    </v-card>


    <snackbar v-model="snackbar" text="Link wurde erfolgreich in die Zwischenablage kopiert."
              @input="snackbar = false" />

  </div>
</template>

<script>
import LinkResolver from "~/plugins/link-resolver.js";
import Snackbar from "./Snackbar";
import moment from "moment";

export default {
  name: "blog-widget",
  components: { Snackbar },
  props: ["newsentries"],
  data: function() {
    return {
      newsValues: {},
      link: "",
      snackbar: false,
    };

  },

  methods: {
    formatDate: function(date){
      return moment(date).format('DD.MM.YYYY');
    },
    doCopy: function() {
      let _this = this;
      this.$copyText(this.shareUrl).then(function(e) {
        _this.snackbar = true;
      }, function(e) {
        console.log("Kopieren fehlgeschlagen");
      });
    },
  },
  created() {
    this.link = LinkResolver(this.newsentries);
  },
  computed: {
    shareUrl() {
      return this.newsentries.url;
    },
  },
};
</script>

<style lang="scss" scoped>
.blog-post {
  color: #353535;

  .news-link-btn {
    background-color: var(--v-primaryColor-base);
    color: white;
    text-transform: capitalize;
    height: 50px;
    width: 160px;

    &:hover {
      box-shadow: 0px 15px 20px rgba(24, 99, 104, 0.5);
      transform: translateY(-0.2em);
    }
  }

  .card-actions {
    justify-content: center;
  }

  .card {
    position: relative;
    padding-bottom: 50px;
    min-height: 535px;
  }

  .card-actions {
    position: absolute;
    bottom: 0;
  }

}

.btnBlog {
  padding: 0;
  margin: 0;
  color: var(--v-primaryColor-base);
  height: 40px !important;
  width: 40px !important;
}


//xs and md breakpoint - mobile
@media (max-width: 959px) {
  ::v-deep h1, ::v-deep p {
    font-size: 18.2px !important;
  }

  .card {
    padding-bottom: 0px !important;
    min-height: unset !important;
    height: 100%;
  }

  .v-card__text {
    padding-bottom: 0px;
  }

  .card-actions {
    position: relative !important;
    display: block;
    padding-bottom: 20px;

    .button-share {
      margin-top: 15px;
    }
  }
}

@media (max-width: 1270px) {
  ::v-deep h2 {
    font-size: 18px !important;
  }
  ::v-deep p {
    font-size: 13px !important;
  }
}
</style>
