<template>
  <div class="share-twitter">

    <div class="button-group" style="z-index:1000;">
      <v-btn target="_blank"
             :x-small="$vuetify.breakpoint.smAndDown"
             href="https://twitter.com/intent/tweet?text=Keine%20Angst%20vor%20der%20Erh%C3%B6hung%20des%20%23EUKlimaziels%20auf%20%3E55%25.%20Wir%20sind%20dabei-f%C3%BCr%20eine%20sichere%20Zukunft%20ohne%20Krisen!%20%40EU2020DE%20%40RegSprecher%20%40peteraltmaier%20%40Markus_Soeder%20%40OlafScholz%20%40Thomas_Bareiss%20%40anjaweisgerber%20%40akk%20%40markuspieperMEP%20%40caspary%20%40_FriedrichMerz%20%40n_roettgen%20%40ArminLaschet">
        <span v-if="$vuetify.breakpoint.mdAndUp">Jetzt teilen</span>
        <v-icon class="ml-2">mdi-twitter</v-icon>
      </v-btn>
      <v-btn @click="openInfo=true" :x-small="$vuetify.breakpoint.smAndDown">
        <v-icon>mdi-information</v-icon>
      </v-btn>
    </div>

    <dialog-with-close-button v-model="openInfo" max-width="550" close-button>
      <template slot="card-title">
        <prismic-rich-text :field="this.$store.state.tweetInfo.title"/>
      </template>
      <template slot="card-text">
        <prismic-rich-text class="content-text" :field="this.$store.state.tweetInfo.content"/>
      </template>
    </dialog-with-close-button>

  </div>
</template>

<script>
  import DialogWithCloseButton from "./Dialog";

  export default {
    name: "ShareTweet",
    components: { DialogWithCloseButton },
    data() {
      return {
        openInfo: false,
      };
    },
  };
</script>

<style lang="scss" scoped>
::v-deep h1, h1 {
  color: var(--v-primaryColor-base);
}
  .share-twitter {
    position: fixed;
    right: 5vw;
    bottom: 5vh;

    .button-group {
      display: inline-flex;

      .v-btn {
        height: 55px;
        border-color: rgba(0, 0, 0, .12);
        border-radius: 0;
        border-style: solid;
        border-width: thin;
        box-shadow: none;
        padding: 0 12px;
        color: white;
        text-transform: capitalize;

        &:nth-child(1) {
          border-radius: 5px 0px 0px 5px;
          background-color: var(--v-twitterColor-base) !important;

          &:hover {
            color: rgb(69, 71, 69)
          }
        }

        &:nth-child(2) {
          border-radius: 0px 5px 5px 0px;
          background-color: rgb(69, 71, 69);
        }
      }
    }
  }

  //xs and md breakpoint - mobile
  @media (max-width: 959px) {

    .share-twitter {
      bottom: 3vh !important;
      .v-btn {
        height: 53px !important;
      }
    }
  }

</style>
