<template>
  <div :class="($vuetify.breakpoint.smAndUp ? 'mt-8 py-12' : 'py-5') + ' share-tweet-banner'">
    <v-row class="ma-0">
      <v-col class="col" cols="11" md="8">
        <prismic-rich-text class="banner-title mb-8" :field="this.$store.state.shareTweet.title" />
        <prismic-rich-text class="banner-text mb-8" :field="this.$store.state.shareTweet.content" />
        <v-btn
          :small="$vuetify.breakpoint.smAndDown"
          tile
          text
          target="_blank"
          href="https://twitter.com/intent/tweet?text=Keine%20Angst%20vor%20der%20Erh%C3%B6hung%20des%20%23EUKlimaziels%20auf%20%3E55%25.%20Wir%20sind%20dabei-f%C3%BCr%20eine%20sichere%20Zukunft%20ohne%20Krisen!%20%40EU2020DE%20%40RegSprecher%20%40peteraltmaier%20%40Markus_Soeder%20%40OlafScholz%20%40Thomas_Bareiss%20%40anjaweisgerber%20%40akk%20%40markuspieperMEP%20%40caspary%20%40_FriedrichMerz%20%40n_roettgen%20%40ArminLaschet">
          <span>Ihr Tweet</span>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "ShareTweetBanner",
};
</script>

<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

.share-tweet-banner {
  text-align: center;
  background-color: white;
  clip-path: polygon(40% 4%, 57% 4%, 80% 3%, 100% 0, 100% 100%, 0 100%, 0 0, 21% 3%);

  .col {
    margin: 0 auto;

    ::v-deep {
      .banner-title {
        h1 {
          font-size: 26px;
          line-height: 1.5;
          font-weight: 600;
          text-align: center;
          color: var(--v-primaryColor-base);
        }
      }

      .banner-text {
        p {
          font-family: Dosis, sans-serif;
          font-size: 26px;
          line-height: 36px;
          font-weight: 300;
          color: rgb(84, 84, 84);
          text-align: center;
          font-style: normal;
          text-transform: none;
          letter-spacing: 0;
        }
      }
    }

    .v-btn {
      background-color: var(--v-twitterColor-base) !important;
      color: white;
      text-transform: capitalize;
      height: 60px;
      width: 160px;

      &:hover {
        box-shadow: 0px 15px 20px rgba(29, 161, 242, 0.5);
        transform: translateY(-0.2em);
      }
    }
  }
}


//xs and md breakpoint - mobile
@media (max-width: 959px) {
  ::v-deep h1 {
    font-size: 18.2px !important;
  }
  ::v-deep p{
    line-height: 28px !important;
    font-size: 16.2px !important;
  }

  .v-btn {
    height: 50px !important;
  }
}
</style>
