<template>
  <v-snackbar
    v-model="model"
    color="var(--v-componentGrey-base)"
  >
    {{text}}
    <template v-slot:action="{ attrs }">
      <v-btn
        icon
        v-bind="attrs"
        @click="model=false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
  export default {
    name: "snackbar",
    props: {
      value: {
        type: Boolean
      },
      text: {
        type: String
      }
    },
    computed: {
      model: {
        get() {
          return this.value;
        },
        set(newVal) {
          this.$emit("input", newVal);
        },
      },
    },
  };
</script>

<style scoped>

</style>
