<template>
  <div class="survey">
    <dialog-with-close-button :value="value" max-width="750" @input="closeSurvey" actionButtonCenter close-button>
      <template slot="card-title">
        <prismic-rich-text :field="surveyData.title" v-if="!showResult" />
        <h1 v-else> Vielen Dank für Ihre Teilnahme an der Umfrage! </h1>
      </template>
      <template slot="card-text">
        <div v-if="!showResult">
          <v-checkbox
            v-for="checkboxEntry in checkboxEntries"
            :key="checkboxEntry"
            v-model="selected"
            hide-details
            color="var(--v-primaryColor-base)"
            :label="checkboxEntry"
            :value=checkboxEntry
            v-if="checkboxEntry != null"
          ></v-checkbox>
        </div>
        <div v-else>
          <h2>Aktuelles Ergebnis: </h2>
          <p class="mb-5">Teilnehmer: {{ evaluation.participants }}</p>
          <h2>{{ surveyQuestion }}</h2>
          <p v-for="surveyAnswer in evaluation.evaluation">
            {{ surveyAnswer.text }}: {{ surveyAnswer.count }}
          </p>
        </div>
      </template>
      <template slot="card-actions">
        <v-btn
          v-if="!showResult"
          class="mb-3"
          large
          color="var(--v-primaryColor-base)"
          text
          outlined
          tile
          :disabled="selected.length === 0"
          @click="sendAnswer">
          An der Umfrage teilnehmen
        </v-btn>
      </template>
    </dialog-with-close-button>
  </div>
</template>

<script>
import DialogWithCloseButton from "./Dialog";
import ApiService from "../utils/ApiService";

export default {
  name: "survey",
  components: { DialogWithCloseButton },
  props: {
    surveyData: {
      type: Object,
    },
  },
  data() {
    return {
      selected: [],
      value: true,
      showResult: false,
      evaluation: {},
      surveyQuestion: "",
    };
  },
  methods: {
    closeSurvey() {
      this.value = false;
      if (process.browser) {
        localStorage.setItem("survey", this.value);
      }
    },
    async sendAnswer() {
      if (process.browser) {
        localStorage.setItem("survey", false);
      }

      const service = new ApiService({ url: process.env.API_URL, code: process.env.API_AUTH });

      const surveys = await service.get("api/survey");
      const survey = await service.post({ id: surveys[surveys.length - 1].id }, "api/surveyWithAnswers");

      this.surveyQuestion = survey.question;

      let choosenAnswers = [];

      for (const key in this.selected) {
        const choice = this.selected[key];
        const id = this.getAnswerId(choice, survey.answers);
        if (id) choosenAnswers.push(id);
      }

      await service.post({ survey: survey.id, answers: choosenAnswers }, "api/result");

      this.evaluation = await service.get("api/result/evaluation");

      this.showResult = true;
    },
    getAnswerId(choice, answerArray) {
      for (const key in answerArray) {
        const answer = answerArray[key];
        if (answer.content === choice) return answer.id;
      }
    },
  },
  computed: {
    checkboxEntries() {
      let surveyDataCopy = Object.assign({}, this.surveyData);
      delete surveyDataCopy["title"];

      return surveyDataCopy;
    },
  },
  mounted() {
    const val = localStorage.getItem("survey");

    if (val != null) {
      this.value = (val === "true");
    } else {
      this.value = true;
    }
  },
};
</script>

<style lang="scss" scoped>
 h1 {
  color: var(--v-primaryColor-base);
}
.v-btn {
  border-color: var(--v-primaryColor-base) !important;
}

.v-btn--disabled {
  border-color: unset !important;
}


h2 {
  font-size: 20px !important;
  font-weight: 600;
}
</style>
