* {
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif !important;
  color: var(--v-textGrey-base);
}

h1 {
  font-family: Dosis, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 1rem;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  font-size: 38px;
  color: var(--v-textGrey-base);
}

h2, q {
  font-family: Dosis, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
  font-size: 30px;
  line-height: 30px;
  color: var(--v-textGrey-base);
}

h3 {
  font-family: Dosis, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: none;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 1.5;
  color: var(--v-textGrey-base);
}

p{
  margin-bottom: 2rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: var(--v-textGrey-base);
}

pre, ul, ol {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  padding-left: 40px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 700px;
  margin: auto;
}

.wio-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #fafafa;
  box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.40);
}

.v-btn {
  text-transform: none !important;
}

.back a {
  color: #9A9A9A;
}

.back a:hover {
  text-decoration: underline;
}

.outer-div {
  padding: 2em;
}

.content-text {
  font-family: "Calibri", "sans-serif";
}


//xs and md breakpoint - mobile
@media (max-width: 959px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  p, pre, ul, ol, q {
    font-size: 14px;
  }

  .outer-div {
    padding: 1em;
  }

}
