<template>
  <v-app>
    <div>
      <header-navigation :headerHeight="headerHeight"/>
      <nuxt :style="{marginTop: headerHeight + 'px'}"/>
      <footer-navigation/>

      <share-tweet/>

      <cookie-notification v-model="cookieNotification"/>
    </div>
  </v-app>
</template>

<script>
  import FooterNavigation from "~/components/FooterNavigation.vue";
  import HeaderNavigation from "~/components/HeaderNavigation.vue";
  import ShareTweet from "../components/ShareTweet";
  import CookieNotification from "../components/CookieNotification";
  export default {
    components: {
      CookieNotification,
      ShareTweet,
      FooterNavigation,
      HeaderNavigation,
    },
    data() {
      return {
        cookieNotification: true,
      };
    },
    computed: {
      headerHeight() {
        const bp = this.$vuetify.breakpoint;
        if (bp.mdAndUp) {
          return 120;
        } else return 0;
      },
    },
    // Called before rendering the layout (even for error page)
    async middleware({ store, $prismic }) {
      await store.dispatch("loadDataProtect", $prismic);
      await store.dispatch("loadShareTweet", $prismic);
      await store.dispatch("loadTweetInfo", $prismic);
    },
  };
</script>


<style lang="scss" scoped>

</style>
