<template>
  <div class="error-page">
    <v-row class="ma-0">
      <v-col>
        <div class="error-404" v-if="error.statusCode === 404">
          <h1 class="ma-0">404</h1>
          <h2>Page Not Found</h2>
        </div>
        <div class="error-blog" >
          <h1>Ein unerwarteter Fehler ist aufgetreten</h1>
        </div>
        <div class="btn-container">
          <v-btn
            class="mt-8"
            :x-large="$vuetify.breakpoint.mdAndUp"
            color="var(--v-primaryColor-base)"
            rounded
            to="/">
            <span>Zurück zur Startseite</span>
            <v-icon dense color="white" class="ml-3">mdi-arrow-right</v-icon>
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    props: ["error"],
  };
</script>

<style lang="scss" scoped>
  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

  .error-page {
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-404 {
      text-align: center;
      color: rgb(84, 84, 84);

      h1 {
        font-family: "Archivo Black", sans-serif;
        font-size: 250px;
        line-height: 250px;
        text-align: center;
      }

      h2 {
        font-family: "Archivo Black", sans-serif;
        font-size: 54px;
        line-height: 48px;
      }
    }

    .error-blog {
      text-align: center;
      color: rgb(84, 84, 84);

      h1 {
        text-align: center;
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;

      .v-btn {
        text-transform: none;

        &:hover {
          box-shadow: 0px 15px 20px rgba(24, 99, 104, 0.3);
          transform: translateY(-0.2em);
        }

        span {
          color: white;
        }

        i {
          height: 32px;
          width: 32px;
          background-color: rgba(255, 255, 255, 0.22);
          border-radius: 50%;
        }
      }
    }
  }

  //xs and md breakpoint - mobile
  @media (max-width: 959px) {

    .error-404 {
      h1 {
        font-size: 150px !important;
        line-height: 150px !important;
      }

      h2 {
        font-size: 54px !important;
      }
    }

    .error-blog {
      h1 {
        font-size: 22px;
      }
    }

    .v-icon {
      height: 25px !important;
      width: 25px !important;
    }
  }
</style>
