<template>
  <div class="blogsite pt-3">
    <article>
      <!-- Check blog posts exist -->
      <div v-if="blogentries.length !== 0" class="blog-main">
        <!-- Template for blog posts -->
        <section :id="blogentries.id" v-for="blogentries in blogentries" :key="blogentries.id" v-bind:blogentries="blogentries"
        >
          <!-- Here :post="post" passes the data to the component -->
          <blog-article class="blog-post" :blogentries="blogentries"></blog-article>
        </section>
      </div>
      <!-- If no blog posts return message -->
      <div v-else class="blog-main">
        <p>No Posts published at this time.</p>
      </div>
    </article>
    <share-tweet-banner/>

    <survey v-model="showSurvey" :survey-data="surveyData"/>
  </div>
</template>

<script>
  import BlogArticle from "~/components/BlogArticle.vue";
  import ShareTweetBanner from "../components/ShareTweetBanner";
  import Survey from "../components/Survey";

  export default {
    name: "Blog",
    components: {
      Survey,
      ShareTweetBanner,
      BlogArticle,
    },
    data() {
      return {
        showSurvey: true
      }
    },
    async asyncData({ $prismic, error }) {
      try {
        // Query to get blog contents
        const surveyData = (await $prismic.api.getSingle('survey')).data;
        const blogentries = await $prismic.api.query(
          $prismic.predicates.at("document.type", "blogentries"),
          { orderings: "[my.post.date desc]" },
        );

        // Returns data to be used in template
        return {
          surveyData,
          blogentries: blogentries.results,
        };
      } catch (e) {
        // Returns error page
        error({ statusCode: 404, message: "Page not found" });
      }
    },
  };
</script>

<style lang="scss" scoped>

::v-deep .v-application .py-3{
  border-bottom: 0 !important;
}

  .blogsite{
    background-image: url(../assets/img/pineTrees.webp);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
  }

  .blog-main {
    max-width: 900px;
    margin: auto;

    &.single img {
      width: 100%;
      height: auto;
    }

    &.single a {
      text-decoration: none;
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 75%);
      background-repeat: repeat-x;
      background-size: 2px 2px;
      background-position: 0 23px;
    }

    .blog-post {
      margin: 2em 0 1em 0;
      padding: 2em;
      text-align: left;
      background-color: white;
      border-width: thin;
      border-style: solid;
      border-color: var(--v-primaryColor-base);
    }
  }

  //xs and md breakpoint - mobile
  @media (max-width: 959px) {
    .blogsite{
      background-image: unset;
      padding: 1em;
    }

    .blog-post {
      margin: 12px 0 0 0 !important;
      padding: 1em !important;
    }
  }
</style>

