<template>
  <div class="datenschutz">
    <prismic-rich-text :field="this.$store.state.dataProtect.title"/>
    <prismic-rich-text class="content-text" :field="this.$store.state.dataProtect.content"/>

    <div class="cookie-delete">
      <p>Mit einem Klick auf die folgende Schaltfläche können Sie Ihre Einwilligung für den Gebrauch nicht notwendiger
        Cookies verweigern oder widerrufen:</p>
      <v-btn
        :small="$vuetify.breakpoint.smAndDown"
        tile
        @click="deleteCookies">
        Cookies ablehnen / Nur notwendige Cookies
      </v-btn>
    </div>

    <snackbar v-model="snackbar" text="Cookies wurden erfolgreich gelöscht." @input="snackbar = false"/>

  </div>
</template>

<script>
  import Snackbar from "../components/Snackbar";

  export default {
    name: "Datenschutz",
    components: { Snackbar },
    data() {
      return {
        snackbar: false,
      };
    },
    computed: {
      cookiesSet() {
        if (process.browser) {
          return localStorage.getItem("cookieNotification");
        } else return;
      },
    },
    methods: {
      deleteCookies() {
        if (this.cookiesSet) {
          if (process.browser) {
            localStorage.removeItem("cookieNotification");
          }
          this.snackbar = true;
        }
      },
    },
  };
</script>

<style lang="scss" scoped>

  .datenschutz {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 2em;
    text-align: left;
    background-color: white;
    word-break: break-word;
  }

  //xs and md breakpoint - mobile
  @media (max-width: 959px) {
    .datenschutz {
      padding: 1em;
    }
  }

</style>
