<template>
  <div class="outer-div">
    <div class="impressum">
      <prismic-rich-text :field="imprint.title"/>
      <prismic-rich-text class="content-text" :field="imprint.content"/>
    </div>
  </div>
</template>

<script>

  export default {
    name: "impressum",
    async asyncData({ $prismic, error }) {
      try {
        // Query to get blog home content
        const imprint = (await $prismic.api.getSingle("imprint")).data;

        // Returns data to be used in template
        return {
          imprint,
        };
      } catch (e) {
        // Returns error page
        error({ statusCode: 404, message: "Page not found" });
      }
    },
  };
</script>

<style lang="scss" scoped>
  .impressum {
    max-width: 700px;
    margin: 0 auto;
    height: auto;
    padding: 2em;
    text-align: left;
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: var(--v-primaryColor-base);
  }

  //xs and md breakpoint - mobile
  @media (max-width: 959px) {
    .impressum {
      padding: 1em;
    }
  }

</style>
