<template>
  <section class="home">
    <carousel/>
    <v-row no-gutters class="news-row" v-for="post in news" :key="post.id">
      <v-col class="news-col" md="6" offset-md="3">
        <v-img min-width="5" min-height="5" loading=lazy :src="post.image"></v-img>
        <v-container :class="$vuetify.breakpoint.xsOnly ? 'px-4' : 'px-9'">
          <h2>{{ post.h1 }}</h2>
          <h3>{{ post.h2 }}</h3>
          <p>{{ post.teaser }}</p>
          <p>{{ formatDate(post.date) }} | {{ post.creator }}</p>

          <div class="buttons mt-10">
            <v-btn
              class="article-button mr-5"
              tile
              :small="$vuetify.breakpoint.smAndDown"
              dark
              :href="post.url"
              target="_blank"
              color="var(--v-primaryColor-base)">
              <span class="px-3"> Zum Artikel </span>
            </v-btn>

            <div class="button-share">
              <ShareNetwork
                network="facebook"
                :url="post.url"
                :title="post.h1"
                :description="post.teaser"
                hashtags="zukunftSichern"
              >
                <v-btn outlined raised tile fab small class="btnBlog">
                  <v-icon>mdi-facebook</v-icon>
                </v-btn>
              </ShareNetwork>

              <ShareNetwork
                network="telegram"
                :url="post.url"
                :title="post.h1"
                :description="post.teaser"
              >
                <v-btn outlined raised tile fab small class="btnBlog">
                  <v-icon>mdi-telegram</v-icon>
                </v-btn>
              </ShareNetwork>

              <ShareNetwork
                network="whatsapp"
                :url="post.url"
                :title="post.h1"
                :description="post.teaser"
              >
                <v-btn outlined raised tile fab small class="btnBlog">
                  <v-icon>mdi-whatsapp</v-icon>
                </v-btn>
              </ShareNetwork>

              <v-btn
                outlined
                raised
                tile
                fab
                small
                class="btnBlog" @click="doCopy(post.url)">
                <v-icon>mdi-link-variant</v-icon>
              </v-btn>
            </div>
          </div>
        </v-container>
      </v-col>
    </v-row>
    <div class="button-all-news my-3">
      <v-btn
        tile
        dark
        color="var(--v-primaryColor-base)"
        to="/newsarchiv">
        <span> Alle News anzeigen </span>
      </v-btn>

    </div>
    <share-tweet-banner/>
    <snackbar v-model="snackbar" text="Link wurde erfolgreich in die Zwischenablage kopiert."
              @input="snackbar = false"/>
  </section>
</template>
<script>
  import ApiService from "../utils/ApiService";
  import ShareTweetBanner from "../components/ShareTweetBanner";
  import Carousel from "../components/Carousel.vue";
  import Snackbar from "../components/Snackbar";
  import moment from "moment";

  const apiservice = new ApiService({ url: process.env.API_URL });
  export default {
    name: "Home",
    components: { ShareTweetBanner, Carousel, Snackbar },
    data: function() {
      return {
        news: [],
        snackbar: false,
      };
    },
    created: async function() {
      let news = await apiservice.post({ count: 3 }, "api/news/count");
      for (let i = 0; i < news.length; i++) {
        let tempDate = news[i]["date"];
        news[i]["date"] = tempDate.slice(0, 10);
        let tempUrl = news[i]["url"];
        news[i]["creator"] = tempUrl.slice(12, 16);
      }
      this.news = news;
    },
    methods: {
      formatDate: function(date) {
        return moment(date).format("DD.MM.YYYY");
      },
      doCopy: function(url) {
        let shareUrl = url;
        let _this = this;
        this.$copyText(shareUrl).then(function(e) {
          _this.snackbar = true;
        }, function(e) {
          console.log("Kopieren fehlgeschlagen");
        });
      }, buttonClicked() {
        this.$gtag.event("latest-release-click", {
          "event_category": "documentation",
          "event_label": "News Button clicked",
          "value": 1,
        });
      },
    },
  };
</script>
<style lang="scss" scoped>
  .button-group {
    z-index: 10000000000;
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .v-carousel {
    margin-bottom: 2rem;
  }

  ::v-deep .news-row {
    margin: 0;
  }

  .news-col {
    box-shadow: 0 0 14px grey;
    background-color: white;
    padding-bottom: 20px;
  }

  .news-col:hover {
    background-color: rgba(84, 84, 84, 0.1);
  }

  q {
    font-size: 16px;
  }

  .article-button {
    height: 50px !important;

    &:hover {
      box-shadow: 0px 15px 20px rgba(24, 99, 104, 0.5);
      transform: translateY(-0.2em);
    }
  }

  .button-all-news {
    text-align: center;

    .v-btn:hover {
      box-shadow: 0px 15px 20px rgba(24, 99, 104, 0.5);
      transform: translateY(-0.1em);
    }
  }

  .btnBlog {
    padding: 0;
    margin: 0;
    color: var(--v-primaryColor-base);
  }


  //xs and md breakpoint - mobile
  @media (max-width: 959px) {
    .buttons {
      display: block;
      padding-bottom: 20px;

      .button-share {
        margin-top: 15px;
      }
    }
  }

</style>
