<template>
  <div class="blogsite py-3">
    <article>
      <v-container>
        <!-- Check blog posts exist -->
        <v-row v-if="news.length !== 0">
          <!-- Template for blog posts -->
          <v-col class="news col-xl-4 col-md-6 col-sm-12" :id="news.id" v-for="news in filteredNewsList" :key="news.id"
                 v-bind:newsentries="news"
          >
            <!-- Here :post="post" passes the data to the component -->
            <news-archive-article class="blog-post" :newsentries="news"></news-archive-article>
          </v-col>
        </v-row>
        <!-- If no blog posts return message -->
        <div v-else class="blog-main">
          <p>Keine News im Archiv vorhanden.</p>
        </div>
      </v-container>
    </article>
  </div>
</template>

<script>
import NewsArchiveArticle from "~/components/NewsArchiveArticle.vue";
import ApiService from "@/utils/ApiService";


const apiService = new ApiService({ url: process.env.API_URL, code: process.env.API_AUTH });

export default {
  name: "Newsarchiv",
  components: {
    NewsArchiveArticle,
  },
  data() {
    return {
      news: [],
      buttonValue:0,
    };
  },
  head() {
    return {
      title: "Prismic Nuxt.js Blog",
    };
  },

  created: async function() {
    //Newsarchiv displays all News within 3 Months
    let news = await apiService.post({days: 120}, "api/news/byDays");
    for (let i = 0; i < news.length; i++) {
      let tempDate = news[i]["date"];
      news[i]["date"] = new Date(tempDate.slice(0, 10))
      let tempUrl = news[i]["url"];
      news[i]["creator"] = tempUrl.slice(12, 16);
    }
    const sortedNews = news.slice().sort((a, b) => b.date - a.date)
    this.news = sortedNews;
  },

  methods: {
    parseDate(dateString) {
      let splittedDate = dateString.split(".");
      let result = new Date(splittedDate[0], parseInt(splittedDate[1]) - 1, splittedDate[2]);
      return result;
    },
  },

  computed: {
    filteredNewsList() {
      let result = this.news;
      let currentDate = new Date();
      if(this.buttonValue>0){
      let toDate = currentDate.setMonth(currentDate.getMonth() -1);//Button value -1

      result = result.filter((el) => {
        let check = this.parseDate(el.date);
        //check for year vielleicht
        return check > toDate;
      });}

      return result;
    },
  },
};
</script>

<style lang="scss" scoped>

.blogsite {
  background-color: #353535;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blog-main {
  max-width: 900px;
  margin: auto;

  &.single img {
    width: 100%;
    height: auto;
  }

  &.single a {
    text-decoration: none;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.8) 75%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 23px;
  }

  .blog-post {
    margin: 2em 0 1em 0;
    padding: 2em;
    text-align: left;
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color:  var(--v-primaryColor-base);
  }
  .news {
    box-shadow: 0 0 5px grey;
    background-color: white;
    padding-bottom: 20px;
  }
}

//xs and md breakpoint - mobile
@media (max-width: 959px) {
  .blogsite {
    background-image: unset;
    padding: 1em;
  }

  .blog-post {
    margin: 12px 0 0 0 !important;
  }
}
</style>

