<template>
  <div class="ueber-uns outer-div">
    <v-row justify="center" no-gutters>
      <v-col cols="12">
        <div class="about-us">
          <v-row justify="center">
            <v-col cols="12" md="8" class="mr-md-5">
              <prismic-rich-text :field="aboutus.title"/>
              <prismic-rich-text class="content-text" :field="aboutus.content"/>
            </v-col>
            <v-col cols="12" md="3">
              <prismic-image class="image mt-md-12" :field="aboutus.image1"/>
              <div class="imageCaption mb-2" style="text-align: center"> Max Mustermann im Einsatz für Zukunftsichern
              </div>
            </v-col>
          </v-row>
          <v-row justify="center" class="mx-md-3">
            <v-col cols="12">
              <h1>FAQ´s</h1>
              <v-expansion-panels multiple>
                <div v-if="faqentries.length !== 0">
                  <!-- Template for blog posts -->
                  <section :id="faqentries.id" v-for="faqentries in faqentries" :key="faqentries.id"
                           v-bind:faqentries="faqentries"
                  >
                    <!-- Here :post="post" passes the data to the component -->
                    <faq-article :faqentries="faqentries"></faq-article>
                  </section>
                </div>
              </v-expansion-panels>
              <v-col cols="12" class="faq-img">
                <prismic-image class="imageBottom" :field="aboutus.image3"/>
                <div class="imageCaption">Das Team von Zukunftsichern im Feldeinsatz</div>
              </v-col>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
  </div>

</template>

<script>
  import FaqArticle from "~/components/FaqArticle.vue";

  export default {
    name: "UeberUns",
    components: {
      FaqArticle,
    },
    async asyncData({ $prismic, error }) {
      try {
        // Query to get blog home content
        const aboutus = (await $prismic.api.getSingle("aboutus")).data;
        const faqentries = await $prismic.api.query(
          $prismic.predicates.at("document.type", "faqentries"),
          { orderings: "[my.post.date desc]" },
        );
        // Returns data to be used in template
        return {
          aboutus,
          faqentries: faqentries.results,
        };
      } catch (e) {
        // Returns error page
        error({ statusCode: 404, message: "Page not found" });
      }
    },
  };
</script>

<style lang="scss" scoped>
  .imageCaption {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
  }

  .v-expansion-panels {
    border-radius: 0;
    display: block;
    padding: 0;
    width: 100%;
    z-index: 0;
    margin-bottom: 15px;
  }

  .ueber-uns {
    ::v-deep h3 {
      margin-top: 4em;
    }

    .image {
      max-width: 250px;
      height: auto;
      text-align: left;
      background-color: white;
      box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.40);
    }

    .imageBottom {
      max-width: 600px;
      height: auto;
      text-align: left;
      background-color: white;
      box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.40);
    }

    .about-us {
      max-width: 900px;
      margin: 0 auto;
      height: auto;
      padding: 2em;
      text-align: left;
      background-color: white;
      border-width: thin;
      border-style: solid;
      border-color: var(--v-primaryColor-base);
    }

    .col-left {
      text-align: right;
    }

    .col-right {
      display: flex;
      align-items: flex-end;
    }
  }

  .faq-img {
    margin: auto;
    width: 70%;
  }


  //xs and md breakpoint - mobile
  @media (max-width: 959px) {
    .about-us {
      padding: 1em !important;

      .image {
        border: unset;
        display: flex;
        margin: 0 auto;
      }

      .faq-img {
        width: 100% !important;
      }
    }
  }
</style>
